.conclusion{
    background-color: #333333a8;
    border-radius: 20px;
}

.conclusion{
    background:  linear-gradient(
        rgba(24, 24, 24, 0.4), 
        rgba(24, 24, 24, 0.4)
      ),
      url("../images/memes/EXhKdmOXkAERBGm.png");

    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}