body{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.header{
    background-image: url("/static/images/wave-textures-white-background-vector_53876-60286.png");
    background-size: cover;
    border: 1px solid black;
}

.content{
    padding: 20px
}

h1{
    background: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
    color: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px #3d3d3d;
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.skill{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #60588f;
    display: flex;
    flex-direction: column;
}

.skill img{
    width: 60px;
    margin: 20px;
}

.skill section{
    height: 10px;
    border-radius: 10px;
}

@media(max-width: 1200px){
    .skills{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media(max-width: 900px){
    .skills{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 700px){
    .skills{
        display: flex;
        flex-direction: column;
    }
}