*{
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

.skills{
    padding: 10px;
    background-color: #333333a8;
    border-radius: 20px;
}

.skills h3{
    border-bottom: 3px solid #B19FFF;
    display: inline-block;
}

.skills figure{
    padding:10px;
    margin: 10px;
    border-radius: 20px;
}

.skills figcaption{
    padding: 10px;
    display: block;
    align-content: center;
}

.front-end{
    background-color: #eba1feb2;
}

.back-end{
    background-color: #fee1a1b2;
}

.database{
    background-color: #a9fea1b2;
}

ul{
    margin-left: 20px;
}

ul li{
    margin: 10px;
}

.other_skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px
}

.other_skills span{
    background: linear-gradient(
        rgba(24, 24, 24, 0.4), 
        rgba(24, 24, 24, 0.4)
      ),
     url("../images/memes/IMG_20230421_154148.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    color: white;
    position: relative;
}

.slides{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.other_skills .slides section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.other_skills section h1{
    color: white;
    font-size: larger;
}

.other_skills .c{
    background:linear-gradient(
        rgba(24, 24, 24, 0.4), 
        rgba(24, 24, 24, 0.4)
    ), url("../images/memes/images\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.other_skills .cpp,.other_skills .ds,.other_skills .nginx{
    background:  linear-gradient(
        rgba(24, 24, 24, 0.4), 
        rgba(24, 24, 24, 0.4)
    ),
    url("../images/memes/IMG_20230421_154652.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.other_skills span, .other_skills section{
    border-radius: 20px;
}

@media ( max-width: 700px ){
    .other_skills{
        display: flex;
        flex-direction: column;
    }
    .slides{
        grid-template-columns: 1fr 1fr;
    }

    .slides section{
        height: 120px;
    }
}