{% load static %}

<link rel="stylesheet" href="{% static 'stylesheets/about_me.css' %}">

<div class="about_me">
    <h3>Hey, Thank you for your time to know a little bit about about_me.</h3><br>
    Who am I?<br>
    I'm Ahmed Mustafa, I'm a student at Cairo uni, Engineering major at preporatory year,<br>
    And the most important I'm a backend developer.<br>
    Why i'm creating this website?<br>
    I really love coding, at first I started to learn coding when I was 14, It was just the basics but I liked it and decided to learn more about computer and software engineering.
</div>