{% extends 'main.html' %}
{% load static %}

{% block title %}<title>Ahmed Mustafa</title>{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">

<div class="introduction">

    <div class="blob"></div>

    <section>
        <p>
            Hi,<br>I'm <span>Ahmed</span><br>Web Developer.
        </p>
    </section>

</div>

{% include 'about_me.html' %}
{% include 'skills.html' %}
{% include 'projects.html' %}
{% include 'conclusion.html' %}
{% include 'my_social_media.html' %}


{% endblock %}

{% block javascript %}

<script src="{% static 'js_scripts/message_send.js' %}"></script>

{% endblock %}