{% load static %}

{% block title %}{% endblock %}

<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'stylesheets/normalize.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
<meta name='viewport' content="width=device-width, initial-scale=1.0">

<div class="container">

    <div class="header">
        <img src="{% static 'images/MyLogo.png' %}" width="140px">
        <div class="list">
            <a>Home</a>
            <a>About</a>
            <a>Skills</a>
            <a>Projects</a>
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% block javascript %}
{% endblock %}