{% load static %}

<head>


<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'stylesheets/normalize.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
<meta name='viewport' content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="{% static 'images/MyLogo.ico' %}">

{% block title %}{% endblock %}
</head>

<div class="container">

    <div class="header">
        <img src="{% static 'images/MyLogo.png' %}" width="140px">
        <div class="list">
            <a href="{% url 'home' %}">Home</a>
            <a>About</a>
            <a href="{% url 'skills' %}">Skills</a>
            <a href="{% url 'projects' %}">Projects</a>
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% block javascript %}
{% endblock %}