{% load static %}

<div class="my_social_media">

    <h3>And this my social media btw</h3>

    <a href="https://www.facebook.com/ahmed1.mustafa6" target='_blank'><img src="{% static 'svg/facebook.svg' %}"></a>
    <a href="https://www.instagram.com/ahmedmustafa.dev/" target='_blank'><img src="{% static 'svg/instagram.svg' %}"></a>
    <a href="https://twitter.com/meAhmedMustafa" target='_blank'><img src="{% static 'svg/twitter.svg' %}"></a>
    <a href="https://github.com/devAhmedMustafa" target='_blank'><img src="{% static 'svg/github.svg' %}"></a>
    <a href="https://www.linkedin.com/in/ahmed-mustafa-67a224250/" target='_blank'><img src="{% static 'svg/linkedin.svg' %}"></a>
    
</div>