{% load static %}
<link rel="stylesheet" href="{% static 'stylesheets/skills_box.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="skills">
    <h3>In my journey with this computer, I've gained a combine of skills<br>
    These are some of them</h3>

    <figure class="front-end">
        <figcaption>
            <i class="bi bi-easel3-fill"></i>
            <span>Front End</span>
        </figcaption>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>
    </figure>

    <figure class="back-end">
        <figcaption>
            <i class="bi bi-terminal-fill"></i>
            <span>Back End</span>
        </figcaption>
        <ul>
            <li>Django</li>
            <li>REST APIs</li>
        </ul>
    </figure>

    <figure class="database">
        <figcaption>
            <i class="bi bi-database-fill"></i>
            <span>Database</span>
        </figcaption>
        <ul>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
        </ul>
    </figure>

    <div class="other_skills">
        <span>
            <h3>That's not everything</h3>
            <h4>I got some knowledge in</h4>
        </span>
        <div class="slides">
            <section class="c"><h1>C</h1></section>
            <section class="cpp"><h1>C++</h1></section>
            <section class="ds"><h1>DATA STRUCTURES</h1></section>
            <section class="nginx"><h1>NGINX</h1></section>
        </div>
    </div>
    
</div>