.projects{
    display: flex;
    flex-direction: row;
}

.iframe{
    display: flex;
    flex-direction: column;
    margin: 100px;
    align-items: center;
}

.iframe .frame_title img{
    max-width: 100px
}

.iframe .frame_title{
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.wuzzuf .frame_title{
    background-color: #295094;
}

.felfel_jewelry .frame_title{
    background-color: #3d4f4b;
}

iframe{
    width: 550px;
    height: 450px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

@media (max-width:1400px){
    .projects{
        flex-direction: column;
    }
    .iframe{
        margin: 10px
    }
}

@media(max-width:700px){
    iframe{
        width: 100%;
    }
}