

.projects{
    background: linear-gradient(-225deg, #5270c448 0%, #b19fff42 48%, #eba1fe49 100%);
    border-radius: 20px;
    padding: 20px;
}

.felfel a{
    background-color: #3d4f4b;
    
}

.wuzzuf a{
    background-color: #295094;
}

.project a{
    display: block;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

a img{
    max-width: 100px;
    
}

.solar_tracker h3{
    background:  linear-gradient(
        rgba(24, 24, 24, 0.4), 
        rgba(24, 24, 24, 0.4)
      ),
      url("../images/memes/IMG_20230422_184612.jpg");
    
    color: white;
    padding: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    border-radius: 20px;
}